// NOTE: after editing this file, run `yarn build-css` in the /client directory to compile this to css

// Setup from https://github.com/jgthms/bulma/issues/388#issuecomment-357428129

// Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

/*
// Your customisations go here...
// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;
*/
$primary: #6CC5D6;
//$primary: #6CD57C;
$size-6: 1.1rem;

// From https://github.com/jgthms/bulma/issues/1042#issuecomment-392599814
// Only collapse the navbar and show burger on mobile (not on tablet)
// ./node_modules/bulma/sass/components/navbar.sass must be modified accordingly
$navbar-breakpoint: 625px;

@mixin navbar-touch {
  @media screen and (max-width: $navbar-breakpoint - 1px) {
    @content;
  }
}

@mixin navbar-desktop {
  @media screen and (min-width: $navbar-breakpoint) {
    @content;
  }
}

// Import the rest of Bulma:
@import "bulma/bulma.sass";