/* General */
.navbar-burger {
    /* Make burger fill navbar height, since our logo is taller than default navbar height */
    height: auto!important;
    min-height: 3.25rem;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

/* Hide firefox dotted focus on buttons */
button::-moz-focus-inner { 
    border: 0; 
}

/* On mobile browsers with toolbars that hide and disappear, attempt to have the modal dialogs not get clipped by the toolbars. Issue is that Bulma's 100vh behaves differently than 100% of viewport height. Could cause issues, depending on the height of the modal's parent element? */
.modal-card {
    max-height: calc(100% - 40px)!important;
}

/* Quiz Taker */
progress::-webkit-progress-value {
    transition: width 0.3s ease-out;
}

/* QuestionView */
.question-prompt {
    font-size: 1.2rem;
}

.question-option-container {
    cursor: pointer;
    margin-bottom: 1.5rem!important;
}
.question-option-container.is-review * {
    cursor: default;
    border: none;
}
.question-option-container.is-review.actual-correct {
    border: solid hsl(141, 71%, 48%) 1px!important;
    border-radius: 5px;
}

.question-option-container:hover .question-option-letter {
    border-color: gray;
}

.question-option-letter {
    width: 3.5rem!important;
    height: 3.5rem!important;
    text-align: center;
}
.question-option-letter span {
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
}

.question-option-text {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2rem;
}

.question-confidence-selector {
    margin-bottom: 1rem;
}

.question-confidence-selector button {
    height: 3rem;
    width: 5rem;
}

/* Quiz Editor */
.concept-tag {
    margin: 0.25rem;
    cursor: pointer;
    border: none;
}
.concept-tag:hover {
    background-color: #d4d4d4!important;
}
.concept-tag:focus {
    outline: none;
    border: solid gray 1px;
    background-color: #d4d4d4!important;
}

.concept-suggestions-list {
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.quiz-editor-question-prompt {
    padding: 0!important;
}

.quiz-editor-question-prompt textarea {
    border: none;
    border-radius: 0;
}

.quiz-editor-question-option {
    padding: 0!important;
}

.quiz-editor-question-option input[type=text] {
    margin: 0!important;
    border: none;
    border-radius: 0;
}
.quiz-editor-question-option input[type=radio] {
    vertical-align: middle;
    margin: 0.2rem 0.5rem 0 0.5rem;
}

.quiz-editor-question-option label {
    padding: 0 0.7rem 0 0;
}

.question-navbar {
    position: sticky;
    z-index: 10;
    top: -5px;
    left: 0;
    margin: 0!important;
    padding: 0.2rem;
    background-color: rgb(245, 245, 245);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
}
.question-navbar-item {
    display: inline!important;
    color: #333!important;
}

/* Survey */
.survey-editor {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Lots of things overwrite the bulma textarea style */
    width: 100%!important;
    height: 100%!important;
    padding-bottom: 100px;
    line-height:255%!important;
    resize: none!important;
}

.survey-question {
    margin-bottom: 2rem;
}

.survey-question-prompt {
    font-size: 1.2rem;
}

.survey-question-option {
    display: block;
    cursor: pointer;
    padding: 0 0 1rem 1.5rem;
    text-align: left;
    font-size: 1.2rem;
}

.survey-question-option > input[type=radio] {
    vertical-align: middle;
    margin-top: -0.2rem;
}

.survey-question-option-text {
    padding-left: 0.6rem;
}

.survey-results-table {
    padding-bottom: 20pt;
    overflow: scroll;
    max-width: 1000%;
}

.survey-results-table td {
    max-width: 33%;
}

/* Dashboard */
.quiz-table tbody tr td {
    vertical-align: middle;
}
.sticky-header th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

@media screen and (max-width: 414px) {
    .table-wrapper {
        overflow-x: auto;
    }
}

/* Responsive tables */
/* Largely from https://elvery.net/demo/responsive-tables/#no-more-tables */
@media only screen and (max-width: 750px) {
	
	/* Force table to not be like tables anymore */
	.responsive-table table, 
	.responsive-table thead, 
	.responsive-table tbody, 
	.responsive-table th, 
	.responsive-table td, 
	.responsive-table tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.responsive-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.responsive-table tr {
        /* Override zebra stripes */
        background: inherit!important;
        margin-bottom: 1rem;
        /* Add bottom border on tr instead of td */
        border-bottom: solid #cecece 1px;
    }

    .responsive-table tr:last-child {
        /* Hide bottom border on last row */
        border-bottom: none;
    }
 
	.responsive-table td { 
		/* Behave  like a "row" */
		border: none!important;
		position: relative;
		padding-left: 45%!important; 
		white-space: normal;
		text-align:left;
	}
 
	.responsive-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0.5rem;
		left: 0.5rem;
		width: 40%; 
		padding-right: 0.5rem; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/* Label the data */
	.responsive-table td:before { content: attr(data-title); }
}
