/* Quiz Review*/
.question-mark-circle {
    width: 22px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 13px;
    border: 1px solid #666;
    cursor: pointer;
}

.wadyano-score-container, .wadyano-score-container h2 {
    margin: 0!important;
}
.wadyano-score-container .confidence-emoji {
    vertical-align: bottom;
    /* Set relative position and z-index so that emoji doesn't
       underlap the “View Details” button when hovered and zoomed */
    position: relative;
    z-index: 10;
}

.wadayano-score-logo {
    max-width: 80px;
    margin: 0.5rem;
    float:left;
}
.wadayano-score-logo img {
    max-height: 4rem;
    height: 4rem;
    margin: 0;
}

/* Quiz Taker */
progress::-webkit-progress-value {
    transition: width 0.3s ease-out;
}

/* Concept Rater */
.question-count {
    margin-left: 1.3rem;
    font-weight: 250!important;
    color: rgba(0,0,0,0.5);
}

/* QuestionView */
.question-prompt {
    font-size: 1.2rem;
}
.question-prompt p:not(:last-child), .question-prompt div:not(:last-child) {
    margin-bottom: 0.7rem;
}
/* Overwrite some styles to better match what the instructor sees */
.question-prompt ul, .question-prompt ol {
    padding-left: 2rem!important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.question-prompt ul {
    list-style: disc!important;
}

.question-prompt hr {
    background-color: gray;
}

.question-option-container {
    cursor: pointer;
    margin-bottom: 1.5rem!important;
}
.question-option-container.is-review * {
    cursor: default;
    border: none;
}
.question-option-text.is-aggregated {
    width: 100%;
    border-radius: 28px;
    padding-left: 1.2rem;
    border: solid #92cdf7 1px;
}
.question-option-container.is-review.actual-correct {
    border: solid hsl(141, 71%, 48%) 1px!important;
    border-radius: 5px;
}

.question-option-container:hover .question-option-letter {
    border-color: gray;
}

.question-option-letter {
    width: 3.5rem!important;
    height: 3.5rem!important;
    text-align: center;
}
.question-option-letter span {
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
}

.question-option-text {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2rem;
}

.question-confidence-selector {
    margin-bottom: 1rem;
}

.question-confidence-selector h5 {
    margin: 0.5rem;
    font-size: 1.2rem;
}

.question-confidence-selector button {
    height: 3rem;
    width: 5rem;
}

/* Survey */
.survey-editor {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Lots of things overwrite the bulma textarea style */
    width: 100%!important;
    height: 100%!important;
    padding-bottom: 100px;
    line-height:255%!important;
    resize: none!important;
}

.survey-question {
    margin-bottom: 2rem;
}

.survey-question-prompt {
    font-size: 1.2rem;
}

.survey-question-option {
    display: block;
    cursor: pointer;
    padding: 0 0 1rem 1.5rem;
    text-align: left;
    font-size: 1.2rem;
}

.survey-question-option > input[type=radio] {
    vertical-align: middle;
    margin-top: -0.2rem;
}

.survey-question-option-text {
    padding-left: 0.6rem;
}

.survey-results-table {
    padding-bottom: 20pt;
    overflow: scroll;
    max-width: 1000%;
}

.survey-results-table td {
    max-width: 33%;
}

/* Dashboard */
.quiz-table tbody tr td {
    vertical-align: middle;
    cursor: pointer;
}
